<div class="parent-container">
    <div class="navigation-bar">
        <div class="left-container">
            <p class="app-title">IP Management System</p>
        </div>
        <div class="right-container">
            <mat-icon  (click)="sidenav.toggle()">menu</mat-icon>
            <mat-icon (click)="logout($event)">power_settings_new</mat-icon>
        </div>
    </div>
    <div class="sidenav-view">
        <mat-sidenav-container>
            <mat-sidenav  #sidenav position="end" mode="side" [(opened)]="opened"> 
            <div class="list-forms" *ngFor="let form of listOfForms; index as i">
                <p (click)="showForm($event,i)">{{ 'Simple Form' + i }}</p>
            </div>    
            </mat-sidenav>
            <mat-sidenav-content >
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
   </div>

