<div class="inner-container">
    <div class="getting-started-container">
        <p>Build, Modify and Extend your App Flow easily !!</p>
    </div>
    <div class="getting-started-container">
        <div class="panel-container">
            <div class="start-demo-container" (click)="goToBPMNPage($event)">
               Start IP Registration Process
            </div>
            <div class="start-demo-container">
                Get a demo !
            </div>
        </div>
    </div>
    <div class="getting-started-container">
        <div class="app-info-container">
            <div class="description-content">
                <p> Drag and drop, Model you diagram, associate task/screen and this is it ! </p>
            </div>
        </div>
    </div>
</div>
